@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>This is a URL shortener service which allows you to shorten bigger Uri’s into smaller one & send it across to your users in mobile messages</p>
<p>Find me on <a href="https://github.com/thanhpegasus/ShortenedUri" target="_blank">GitHub</a></p>
