@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4"><input type="text" placeholder="Paste your URL here" /></div>
    <div class="col-md-8">Generate</div>
</div>
<div class="row">
    <table>
        <thead>
            <tr>

            </tr>
        </thead>
    </table>
</div>