@model ShortenedUrlListModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Shortened URL Service</h2>
        <hr />
        @Html.Partial("_CreateShortenedUrl", Model.ShortenedUrlCreateModel)
        <hr />
        @Html.Partial("_ListShortenedUrl", Model.ShortenedUrlItemModels)
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Apps/shortenedUrl.js"></script>
}